@import "tailwindcss";

@theme {
  /* Ta palette Élégance Naturelle */
  --color-background: #F9F9F7;
  --color-primary: #333333;
  --color-sage: #8DA399;
  --color-terra: #E07A5F;
  --color-sage-light: #E8EFEC;
  
  --font-serif: "Merriweather", serif;
}

/* On applique le fond crème par défaut à tout le site */
body {
  background-color: var(--color-background);
  color: var(--color-primary);
}
